/** Custom CSS here */

body {
	margin-bottom:1.5em;
	font-family: 'Open Sans', sans-serif;
}

.control-label, .control-label label {
	font-weight: normal;
}

dd label {
	font-weight: normal;
}

.form-group {
	margin: 0.5em;
	padding: 0;
}

.form-inline .form-group {
    margin-left: 0;
    margin-right: 0;
}

.compact {
	margin: 0;
	padding: 0;
}
.form-group dl {
	margin: 0;
	padding: 0;
}

.error {
	color: #a94442;
}

.warning {
	color: #d79f3b;
}

.nav-tabs {
	margin-bottom:1.5em
}

.remove-button {
	vertical-align: bottom;
	padding-top: 0.5em;
}

.home-link {
	position: relative;
	float: right;
	font-size: 1.5em;
	padding-top: 1em;	
}

.hidden {
	display:none;	
}

.field-label, .mapping-label {
	text-align: right;
}

.loading {
	background-image: url("../images/loading.gif");
	background-repeat: no-repeat;
	background-position: center center;
	overflow: show;
}

fieldset {
	border: 1px groove #DDDDDD !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

fieldset legend {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
}

